{
  "extends": [
    "semistandard",
    "plugin:react/recommended"
  ],
  "rules": {
    "space-before-function-paren": ["error", {
      "anonymous": "ignore",
      "named": "ignore",
      "asyncArrow": "always"
    }]
  }
}
